/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mickeys;
  src: url('/public/ShadowsIntoLight-Regular.ttf');
}

* {
  font-family: 'mickeys', monospace;
}
